<!--<p style="color: green"><%= notice %></p>-->

<!--<h1>Applications</h1>-->

<!--<div id="applications">-->
<!--  <% @applications.each do |application| %>-->
<!--    <%= render application %>-->
<!--    <p>-->
<!--      <%= link_to "Show this application", application %>-->
<!--    </p>-->
<!--  <% end %>-->
<!--</div>-->

<!--<%= link_to "New application", new_application_path %>-->
<h1>Applications</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Client</th>
      <th>UID</th>
      <th>Secret</th>
      <!-- Add more table headers for other attributes -->
    </tr>
  </thead>
  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.name %></td>
        <td><%= application.client.name %></td>
        <td><%= application.uid %></td>
        <td><%= application.secret %></td>
        <!-- Display other attributes as needed -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Application", new_application_path %>
