<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= search_form_for @q do |f| %>
      <%= f.label :name_cont %>
      <%= f.search_field :name_cont %>
      <%= f.submit %>
    <% end %>  
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.active ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to "Show", admin_product_path(product) %>
          <%= link_to "Edit", edit_admin_product_path(product) %>
          <%= link_to "Delete", admin_product_path(product), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Product", new_admin_product_path %>
